<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdt.auction.dao.ArtStateMapper" >
  <resultMap id="BaseResultMap" type="com.hdt.auction.entity.ArtState" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="state_name" property="state_name" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmt_create" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmt_modified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, state_name, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from art_state
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from art_state
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hdt.auction.entity.ArtState" >
    insert into art_state (id, state_name, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{state_name,jdbcType=VARCHAR}, #{gmt_create,jdbcType=TIMESTAMP}, 
      #{gmt_modified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hdt.auction.entity.ArtState" >
    insert into art_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="state_name != null" >
        state_name,
      </if>
      <if test="gmt_create != null" >
        gmt_create,
      </if>
      <if test="gmt_modified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="state_name != null" >
        #{state_name,jdbcType=VARCHAR},
      </if>
      <if test="gmt_create != null" >
        #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null" >
        #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hdt.auction.entity.ArtState" >
    update art_state
    <set >
      <if test="state_name != null" >
        state_name = #{state_name,jdbcType=VARCHAR},
      </if>
      <if test="gmt_create != null" >
        gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null" >
        gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hdt.auction.entity.ArtState" >
    update art_state
    set state_name = #{state_name,jdbcType=VARCHAR},
      gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>